.import-page {
    padding: 20px;
    padding-bottom: 48px;
    height: 100vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 5px;
    }
    .title {
        font-size: 3rem;
        font-weight: bold;
    }
    .content {
        flex: 1;

        .table-wrapper {
            flex: 1;
            .table {
                border: 1px solid;
                border-bottom: none;
                border-color: #aaa;
                .table-content {
                    flex: 1;
                }
            }
            .pagination {
                margin-top: 20px;
                margin-bottom: 0;
                padding: 8px 0;
                border: 1px solid #aaa;
            }
        }
        .table-row {
            min-height: 34px;
            span {
                padding-left: 20px;
            }
            &:not(.no-data):hover {
                background-color: #eee;
            }
        }
        .pagination {
            margin: 10px 0;
            .page-button {
                width: 28px;
                height: 28px;
            }
        }
        .ui-btn {
            height: 40px;
            width: 240px;
            font-size: 1.8rem;
            margin: 0 auto;
        }
        .custom-select {
            position: relative;
            .search-wrapper {
                min-height: 34px;
                display: flex;
                align-items: center;
                padding: 0 10px;
                .input-field {
                    flex: 1;
                    font-size: 1.6rem;
                }
                svg {
                    border-radius: 50%;
                    transition: all 0.2s ease;
                    width: 24px !important;
                    height: 24px !important;
                    cursor: pointer;
                    color: #aaa;
                    &:hover {
                        background-color: #eee;
                    }
                }
            }
            .option-container {
                position: absolute;
                left: -1px;
                right: -1px;
                z-index: 1;
                background-color: #fff;
                border: 1px solid #aaa;
                .option {
                    display: flex;
                    align-items: center;
                    min-height: 24px;
                    padding-left: 10px;
                    border-bottom: 1px solid #aaa;
                    transition: all 0.2s ease;
                    &:hover {
                        background-color: #eee;
                    }
                }
                .pagination {
                    margin: 4px;
                    padding: 0;
                    border: none;
                    .page-button {
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
}
