
.manage-goods .handmade-table-wrapper {
    .table-header,
    .table-body {
        .table-row {
            .table-cell {
                font-size: 15px;
                padding: 6px 0 6px 6px;

                &:nth-of-type(1),
                &:nth-of-type(2),
                &:nth-of-type(3),
                &:nth-of-type(4) {
                    width: 25%;
                }
            }
        }
    }
    .table-feature {
        .sort-box-open,
        .filter-box-open {
            form {
                width: 240px;
            }
        }
    }
}