.default-input {
    display: inline-block;
    input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
    }
    input[type='date'] {
        cursor: pointer;
        color: transparent;
        &::-webkit-calendar-picker-indicator {
            cursor: pointer;
        }
    }
    &[data-active='true'],
    &:focus-within {
        input[type='date'] {
            color: black;
        }
        input + label {
            top: 0;
            left: 16px;
            font-size: 86%;
            color: rgba(#000, 0.6);
        }
    }
}
