.client-list .handmade-table-wrapper {
    .table-header,
    .table-body {
        .table-row {
            .table-cell-checkbox {
                display: flex;
                justify-content: center;
                width: 50px;
            }
            .table-cell {
                font-size: 15px;
                padding: 6px 0 6px 6px;
                &:nth-of-type(2) {
                    flex: none;
                    width: 70px;
                }
                &:nth-of-type(3) {
                    flex: none;
                    width: 70px;
                }
                &:nth-of-type(4) {
                    flex: none;
                    width: 200px;
                }
                &:nth-of-type(5) {
                    flex: none;
                    width: 170px;
                }
                &:nth-of-type(6) {
                    flex: none;
                    width: 150px;
                }
                &:nth-of-type(7) {
                    flex: none;
                    width: 250px;
                }
                &:nth-of-type(8) {
                    flex: none;
                    width: 80px;
                }
                &:nth-of-type(9) {
                    flex: none;
                    width: 100px;
                }
                &:nth-of-type(10) {
                    flex: none;
                    width: 150px;
                }
                // &:nth-of-type(11) {
                //     flex: none;
                //     width: 100px;
                // }
            }
            .handmade-form.table-updating-form {
                width: 100%;
                gap: 8px;
                margin: 6px 0;
                .form-children-container {
                    flex: 1;
                }
                .submit-btn {
                    order: -1;
                    padding: 0 2px 0 8px;
                    button {
                        padding: 4px 10px;
                        margin: 0;
                    }
                }
            }
        }
    }
    .table-feature {
        .sort-box-open,
        .filter-box-open {
            form {
                width: 240px;
            }
        }
    }
    .add-row {
        padding-left: 8px;
        gap: 10px;
        color: #ccc;
    }
}